<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.niceally.webpage.mapper.FirstLevelHeadingMapper">

    <resultMap type="com.niceally.webpage.domain.FirstLevelHeading" id="FirstLevelHeadingResult">
        <result property="id" column="id"/>
        <result property="headline" column="headline"/>
        <result property="region" column="region"/>
        <result property="sort" column="sort"/>
        <result property="createBy" column="create_by"/>
        <result property="createTime" column="create_time"/>
        <result property="updateBy" column="update_by"/>
        <result property="updateTime" column="update_time"/>
    </resultMap>

    <resultMap id="FirstLevelHeadingLevelHeadingContentResult" type="com.niceally.webpage.domain.FirstLevelHeading"
               extends="FirstLevelHeadingResult">
        <collection property="levelHeadingContentList" notNullColumn="sub_id" javaType="java.util.List"
                    resultMap="LevelHeadingContentResult"/>
    </resultMap>

    <resultMap type="com.niceally.webpage.domain.LevelHeadingContent" id="LevelHeadingContentResult">
        <result property="id" column="sub_id"/>
        <result property="levelHeadingId" column="sub_level_heading_id"/>
        <result property="picture" column="sub_picture"/>
        <result property="briefIntroduction" column="sub_brief_introduction"/>
        <result property="policy" column="sub_policy"/>
        <result property="projectType" column="sub_project_type"/>
        <result property="contactInformation" column="sub_contact_information"/>
        <result property="linkUrl" column="sub_link_url"/>
    </resultMap>

    <sql id="selectFirstLevelHeadingVo">
        select id,
               headline,
               region,
               sort,
               create_by,
               create_time,
               update_by,
               update_time
        from first_level_heading
    </sql>

    <select id="selectFirstLevelHeadingList" parameterType="com.niceally.webpage.domain.FirstLevelHeading"
            resultMap="FirstLevelHeadingResult">
        <include refid="selectFirstLevelHeadingVo"/>
        <where>
            <if test="headline != null  and headline != ''">
                and headline = #{headline}
            </if>
            <if test="region != null  and region != ''">
                and region = #{region}
            </if>
            <if test="sort != null ">
                and sort = #{sort}
            </if>
            <if test="createTime != null ">
                and create_time = #{createTime}
            </if>
        </where>
    </select>

    <select id="selectFirstLevelHeadingById" parameterType="Long"
            resultMap="FirstLevelHeadingLevelHeadingContentResult">
        SELECT a.id,
               a.headline,
               a.region,
               a.sort,
               a.create_by,
               a.create_time,
               a.update_by,
               a.update_time,
               b.id                  AS sub_id,
               b.level_heading_id    AS sub_level_heading_id,
               b.picture             AS sub_picture,
               b.brief_introduction  AS sub_brief_introduction,
               b.policy              AS sub_policy,
               b.project_type        AS sub_project_type,
               b.contact_information AS sub_contact_information,
               b.link_url            AS sub_link_url
        FROM first_level_heading a
                 LEFT JOIN level_heading_content b ON b.level_heading_id = a.id
        WHERE a.id = #{id}
    </select>

    <insert id="insertFirstLevelHeading" parameterType="com.niceally.webpage.domain.FirstLevelHeading"
            useGeneratedKeys="true" keyProperty="id">
        insert into first_level_heading
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="headline != null">
                headline,
            </if>
            <if test="region != null">
                region,
            </if>
            <if test="sort != null">
                sort,
            </if>
            <if test="createBy != null">
                create_by,
            </if>
            <if test="createTime != null">
                create_time,
            </if>
            <if test="updateBy != null">
                update_by,
            </if>
            <if test="updateTime != null">
                update_time,
            </if>
        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="headline != null">
                #{headline},
            </if>
            <if test="region != null">
                #{region},
            </if>
            <if test="sort != null">
                #{sort},
            </if>
            <if test="createBy != null">
                #{createBy},
            </if>
            <if test="createTime != null">
                #{createTime},
            </if>
            <if test="updateBy != null">
                #{updateBy},
            </if>
            <if test="updateTime != null">
                #{updateTime},
            </if>
        </trim>
    </insert>

    <update id="updateFirstLevelHeading" parameterType="com.niceally.webpage.domain.FirstLevelHeading">
        update first_level_heading
        <trim prefix="SET" suffixOverrides=",">
            <if test="headline != null">
                headline = #{headline},
            </if>
            <if test="region != null">
                region = #{region},
            </if>
            <if test="sort != null">
                sort = #{sort},
            </if>
            <if test="createBy != null">
                create_by = #{createBy},
            </if>
            <if test="createTime != null">
                create_time = #{createTime},
            </if>
            <if test="updateBy != null">
                update_by = #{updateBy},
            </if>
            <if test="updateTime != null">
                update_time = #{updateTime},
            </if>
        </trim>
        where id = #{id}
    </update>

    <delete id="deleteFirstLevelHeadingById" parameterType="Long">
        delete
        from first_level_heading
        where id = #{id}
    </delete>

    <delete id="deleteFirstLevelHeadingByIds" parameterType="String">
        delete from first_level_heading where id in
        <foreach item="id" collection="array" open="(" separator="," close=")">
            #{id}
        </foreach>
    </delete>

    <delete id="deleteLevelHeadingContentByLevelHeadingIds" parameterType="String">
        delete from level_heading_content where level_heading_id in
        <foreach item="levelHeadingId" collection="array" open="(" separator="," close=")">
            #{levelHeadingId}
        </foreach>
    </delete>

    <delete id="deleteLevelHeadingContentByLevelHeadingId" parameterType="Long">
        delete
        from level_heading_content
        where level_heading_id = #{levelHeadingId}
    </delete>

    <insert id="batchLevelHeadingContent">
        insert into level_heading_content( id, level_heading_id, picture, brief_introduction, policy, project_type,
        contact_information, link_url) values
        <foreach item="item" index="index" collection="list" separator=",">
            ( #{item.id}, #{item.levelHeadingId}, #{item.picture}, #{item.briefIntroduction}, #{item.policy},
            #{item.projectType}, #{item.contactInformation}, #{item.linkUrl})
        </foreach>
    </insert>
</mapper>